
}

body {
  font-family: arial;
}

.headerpng {
float: left;

}
section {
  background-color: gray:
}
h1 {
  font-size: 40px;
  margin-bottom: 2px;
text-align: left;
}

.list{
  background-image: url("imgs/list-bg.png");
  margin:auto;
}
ul {
  display: inline-block;
}

h3 {
  font-size: 14px;
  margin-bottom: 1px;
}
.print {
  display: inline-block;
}
h5 {
    background: gray;
  font-size: 8px;
  margin-bottom: 0px;
}

header h1 h3 {

  margin-top: 20px;
  margin-right: 75px;
  outline: 6px yellow;
}

main {
  width: 960px;
  margin: 30px auto;
}
.logoa{
  float:left;

}
article p {
margin-bottom: 500px
  outline: groove 3px pink;
  font-size: 12px;
  font-family: arial;
}

footer {
  margin-top: auto;
text-align: center;
clear: both;
}
section {
  text-align: right;
}
.button{
float: right;
  background-color: red ;
  width: 200px;
  text-align: center;
}
aside {
  margin-bottom: auto;
}
.logo1 p {
  text-align: center;
}
h6 {
  height: 7px;
  background-color: gray;

}
